<%- layout("layout/boilerplate.ejs")  %>



<div class="acc">
        
    <div class="prof">
        <div class="user1">
        <label for="img">   
          <img id="myImg" src="<%=dem.pic%>" alt="user_Img">
        </label>
        </div>
      
        <input  style="display: none;" accept="image/*" type="file" id="img" onchange="fileInputChange(event)">
    </div>


<div class="fol">
    <ul>
      <li><h4><%= dem.username.username  %></h4></li>

       <% if(user.username===dem.username.username){%> 
       <form action="/editProf/<%=data._id%>" method="get">
           <button class="btn ">Edit Profile</button>
       </form>
       <% } %>
    </ul>
    <ul>
      <button class="btn folB">
            <li>
               <b> <%= posts.length  %> </b> posts </li>
         
        </button>
       
        <li> 
            <form action="/getFollowers/<%= dem._id %>" method="get">
              <button class="btn folB">
                <b> <%= dem.followers.length%></b> followers
              </button>
            </form>
          </li>

            
            <form action="/getFollowing/<%=dem._id%>" >
            <li> <button class="btn folB" ><b> <%= dem.following.length%></b> following</button> </li>
          </form>
    </ul>
    <ul>
      <li>  <p><%= dem.bio %></p></li>
    </ul>
    
    

</div>

    


    
</div>

<hr>
<div class="pstAdd">
    <p>POSTS</p>
    <% if(user.username===dem.username.username) {%>
      <div>
      <form action="/createPost/<%= data.username._id  %>" method="get">
        <button class="btn btn-primary">Create Post</button>
      </form>
      </div> 

      <% } %>
</div>



<div class="post">
  <% for(post of posts){ %> 

    <div class="usPost">
      <img class="usPostsub" src="<%= post.url%>" alt="">
      <h5><i class="fa-regular fa-heart"></i> <%=post.like.length  %> </h5>
    </div>

  <% } %>

</div>


<script>
function fileInputChange(e){
  let file=e.target.files[0];
//   console.log(file);
  if(file){
    const read=new FileReader();
    read.onload=(e)=>{
        document.querySelector('#myImg').src=e.target.result;
        saveImgBackend(e.target.result);
    }

    read.readAsDataURL(file)
  }

async  function saveImgBackend(url){
    let h5=document.querySelector('h5').innerText;
    await axios.post('/saveImg',{url,h5});
  }
  
}
    
</script>