<% layout("layout/boilerplate.ejs") %>
<!--  -->
<style>
      .instagram-card {
            border: 1px solid #e1e1e1;
            border-radius: 8px;
            overflow: hidden;
        }

        .instagram-card img {
            width: 100%;
            height: auto;
        }

        .card-body {
            padding: 12px;
        }

        .card-title {
            font-weight: bold;
            margin-bottom: 8px;
        }

        .card-text {
            margin-bottom: 8px;
        }

        .card-meta {
        
            font-size: 12px;
            color: #999;

        }
        .like-btn {
            color: #ff0000; /* Like button color */
            /* background-color: red; */
            cursor: pointer;
            background-color: white;
            border: none;
        }

        .unlike-btn {
            color: black; /* Like button color */
            cursor: pointer;
            background-color: white;
            border: none;
        }
</style>

<form action="/instagram" method="get">
    <button>account</button>
</form>

<% for (pst of posts){ %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card instagram-card">
                <div class="card-body">
                    <b><p class="card-title"><%= pst.author.username  %></p></b>
                    <img src="<%= pst.url %>" alt="Instagram Post">

                 
                    <div class="container mt-5">
                        <form action="/like/<%=pst._id%>" method="post">
                    <% if(!pst.like.includes(user.username)){ %>
                        <button  class="unlike-btn" >
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <% } %>
                        <% if(pst.like.includes(user.username)){ %>
                            <button  class="like-btn" >
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <% } %>
                    </form>
                        <%= pst.like.length %> likes
                        
                    </div>
                
                   
                    
                    <p class="card-text">Caption: <%= pst.caption %></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>


<script>
    
    // let btn=document.querySelector('#tog');
    // btn.addEventListener("click",()=>{
    //     btn.classList.toggle('like-btn');
    // })

</script>
