<% layout("layout/boilerplate.ejs") %>


<% for (pst of posts){ %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card instagram-card">
                <div class="card-body">
                    <b><p class="card-title"><%= pst.author.username  %></p></b>
                    <img src="<%= pst.url %>" alt="Instagram Post">

                 
                    <div class="container mt-5">
                        <form action="/like/<%=pst._id%>" method="post">
                    <% if(!pst.like.includes(user.username)){ %>
                        <button  class="unlike-btn" >
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <% } %>
                        <% if(pst.like.includes(user.username)){ %>
                            <button  class="like-btn" >
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <% } %>
                    </form>
                        <%= pst.like.length %> likes
                        
                    </div>
                
                   
                    
                    <p class="card-text">Caption: <%= pst.caption %></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>


<script>
    
    // let btn=document.querySelector('#tog');
    // btn.addEventListener("click",()=>{
    //     btn.classList.toggle('like-btn');
    // })

</script>
