<% layout("layout/boilerplate.ejs") %>


<% for (pst of posts){ %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card instagram-card">
                <div class="card-body">
                    <b><p class="card-title"><%= pst.author.username  %></p></b>
                    <img src="<%= pst.url %>" alt="Instagram Post">

                    <!-- action="/like/" method="post"  -->
                    <div class="container mt-5">
                        <!-- <form > -->
                    <% if(!pst.like.includes(user.username)){ %>
                        <button   class="lbtn" id=<%=pst._id  %>>
                            <i class="fa-regular fa-heart uk"></i>
                        </button>
                        <% } %>
                        <% if(pst.like.includes(user.username)){ %>
                            <button  class="lbtn" id=<%=pst._id  %> >
                                <i class="fa-solid fa-heart lk"></i>
                            </button>
                            <% } %>
                    <!-- </form> -->
                       <span class="sup" id=<%=pst._id %>><%= pst.like.length %></span>  likes
                        
                    </div>
                
                   
                    
                    <p class="card-text">Caption: <%= pst.caption %></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>


<script>

let b1= document.querySelectorAll('.lbtn');
let sp=document.querySelectorAll('.sup');

for(let b of b1){
  b.addEventListener("click",async()=>{
    // console.dir(b);

    let id=b.id;
    // console.log(id);

    await axios.post(`/like/${id}`)
    .then((res)=>{
        // console.log(res.data);
        if(res.data.val>=0){

        

        if(b.children[0].classList.contains('uk')){
            b.children[0].classList.remove('fa-regular','uk');
            b.children[0].classList.add('fa-solid','lk');
        }else{
            b.children[0].classList.remove('fa-solid','lk');
            b.children[0].classList.add('fa-regular', 'uk');
        }

        
        for( let s of sp){
            if(s.id==id){
                s.innerHTML=res.data.val;
                break;
            }
        }

        // console.log(b.children[0]);


        }
    })



   
     
  })
}


</script>